section.about
        .about__img-bg

        .about__box
                h3.about__title
                        | О нас

                p.about__beauty
                        | Салон красоты

                h3.about__sub-title
                        | «Skin Spa Studio»

                p.about__descr
                        | Сайт рыбатекст поможет дизайнеру, верстальщику,
                        |  вебмастеру сгенерировать несколько абзацев более
                        | менее осмысленного текста рыбы на русском языке, а
                        | начинающему оратору отточить навык публичных
                        | выступлений в домашних условиях.

                p.about__sub-descr
                        | Сайт рыбатекст поможет дизайнеру, верстальщику,
                        |  вебмастеру сгенерировать несколько абзацев более
                        | менее осмысленного текста рыбы на русском языке, а
                        | начинающему оратору отточить навык публичных
                        | выступлений в домашних условиях.

                p.about__more
                        | Узнать подробнее
