section.callback
    .callback__form
        h3.callback__title
            | Заполните данную форму
            br
            |  и запишитесь на прием

        form.callback__request
            span.callback__elem-name
            input(type="text" placeholder="Ваше имя").callback__name

            span.callback__elem-phone
            input(type="text" placeholder="Ваш телефон").callback__phone

            label.checkbox
                input(type="checkbox")
                p.checkbox__text
                    | Я подтверждаю свое согласие на*:

            p.callback__descr
                |  На использование в качестве каналов передачи информации, содержащейся в

                | заявке, открытых каналов связи сети Интернет
                br
                | На обработку моих персональных данных в соответствии с федеральным законом РФ

                | от 27.07.2006 №152-Ф3 "О персональных данных"

            input(type="submit").button-elem
            span.callback__elem-submit



