section.comand
    .container
        h3.comand__title
            | Наша команда

        .comand__slider
            .comand__slide
                .comand__elem
                    .comand__elem-img
                        img(src="img/comand.png")

                    h3.comand__elem-title
                       | Марина

                    p.comand__elem-descr
                        | Мастер эпиляции
                        br
                        | стаж - два года

            .comand__slide
                .comand__elem
                    .comand__elem-img
                        img(src="img/comand.png")

                    h3.comand__elem-title
                        | Марина

                    p.comand__elem-descr
                        | Мастер эпиляции
                        br
                        | стаж - два года


            .comand__slide
                .comand__elem
                    .comand__elem-img
                        img(src="img/comand.png")

                    h3.comand__elem-title
                        | Марина

                    p.comand__elem-descr
                        | Мастер эпиляции
                        br
                        | стаж - два года


            .comand__slide
                .comand__elem
                    .comand__elem-img
                        img(src="img/comand.png")

                    h3.comand__elem-title
                        | Марина

                    p.comand__elem-descr
                        | Мастер эпиляции
                        br
                        | стаж - два года


            .comand__slide
                .comand__elem
                    .comand__elem-img
                        img(src="img/comand.png")

                    h3.comand__elem-title
                        | Марина

                    p.comand__elem-descr
                        | Мастер эпиляции
                        br
                        | стаж - два года
