footer.footer
    .container
        .footer__descr-box
            .footer__logo
                img(src="img/logo.png")

            p.footer__adress
                | Москва, ул. Сумская д.6

            span.footer__number
                | +7 (496) 566-46-43

            p.footer__email
                | info@skinspa.ru

        .footer__menu-box
            ul.footer__menu
                li
                    a(href="#").active Главная

                li
                    a(href="#") О нас

                li
                    a(href="#") Услуги

                li
                    a(href="#") Цены

                li
                    a(href="#") Галерея

                li
                    a(href="#") Мастера

                li
                    a(href="#") Отзывы

                li
                    a(href="#") Контакты

            .footer__box
                p.footer__descr
                    | Мы в соцсетях:

                .footer__box-elem
                    img(src="img/icons/vk.png")

                .footer__box-elem
                    img(src="img/icons/fb.png")

                .footer__box-elem
                    img(src="img/icons/twit.png")

                .footer__box-elem
                    img(src="img/icons/insta.png")

                .footer__box-elem
                    img(src="img/icons/tube.png")

        p.footer__copyright
            | Политика конфеденциальности