section.gallery
    .container
        h3.gallery__title
            | Галлерея

        .gallery__slider
            .gallery__slide
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__slide
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__slide
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__slide
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__slide
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")