section.contact
    .container
        h3.review__title
            | Контакты

        .contact__wrap
            p.contact__adress
                | Москва, ул. Сумская д.6

            span.contact__number
                | +7 (496) 566-46-43

            p.contact__email
                | info@skinspa.ru

            p.contact__social
                | Мы в соцсетях:

            .contact__box
                .contact__box-elem
                    img(src="img/vk.png")

                .contact__box-elem
                    img(src="img/fb.png")

                .contact__box-elem
                    img(src="img/twit.png")

                .contact__box-elem
                    img(src="img/insta.png")

                .contact__box-elem
                    img(src="img/tube.png")

        .contact__map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.7273232012553!2d37.60245801579895!3d55.624160209373876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab2f19a675f67%3A0x2a291a77a4af4dd9!2z0KHRg9C80YHQutCw0Y8g0YPQuy4sIDYsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMTcyMDg!5e0!3m2!1sru!2sua!4v1544120593399\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0\" allowfullscreen")
