section.comand.comand--mod
    .container
        h3.comand__title--mod
            | Наша команда

        .comand__wrapper
            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года


            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года


            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года


            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

            .comand__element
                .comand__elem-img
                    img(src="img/comand.png")

                h3.comand__elem-title
                    | Марина

                p.comand__elem-descr
                    | Мастер эпиляции
                    br
                    | стаж - два года

        .pagination
            ul.pagination-body
                li
                    a(href="#") пред

                li
                    a.active(href="#") 1

                li
                    a(href="#") 2

                li
                    a(href="#") 3

                li
                    a(href="#") 4

                li
                    a(href="#") 5

                li
                    a(href="#") ...

                li
                    a(href="#") след