section.price
    .container
        h3.price__title
            | Цены

        ul.price__tabs
            li
                a(href="#depil").active Депиляция

            li
                a(href="#manikur") Маникюр

            li
                a(href="#makeup") Макияж

            li
                a(href="#ped") Педикюр

            li
                a(href="#shugar") Сахарная депиляция

            li
                a(href="#lazer") Лазерная эпиляция

            li
                a(href="#man") Мужская депиляция

            li
                a(href="#gel") Гель лак

            li
                a(href="#style") Парикмахер-стилист

            li
                a(href="#all") Все для ресниц

            li
                a(href="#brow") Брови

            li
                a(href="#hair") Прически

            li
                a(href="#cosmet") Косметология

            li
                a(href="#moment") Моментальный загар

            li
                a(href="#skin") Депиляция SKIN'S


        .price__tabs-wrapper
            #depil.price__tabs-wrapper--box
                h3.price__tablice-title Депиляция
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #manikur.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #makeup.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #ped.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #shugar.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


            #lazer.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #man.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #gel.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


            #style.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #all.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


            #brow.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #hair.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #cosmet.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #moment.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

            #skin.price__tabs-wrapper--box
                h3.price__tablice-title Маникюр
                .price__box
                    h3.price__tablice-name Название процедуры

                    h3.price__tablice-price Цена, руб

                table.price__tablice
                    tbody

                        tr
                            th &nbsp
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая
                            th Восковая

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250

                        tr
                            td.price__tablice-item подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250


                        tr
                            td.price__tablice-item  подмышечная впадина
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250
                            td 250





