section.about
    h3.about__title--mod
        | О нас


    .about__img-bg.about__img-bg--mod

    .about__box.about__box--mod

        p.about__beauty.about__beauty--mod
            | Салон красоты

        h3.about__sub-title.about__sub-title--mod
            | «Skin Spa Studio»

        p.about__descr.about__descr--mod
            | Сайт рыбатекст поможет дизайнеру, верстальщику,
            |  вебмастеру сгенерировать несколько абзацев более
            | менее осмысленного текста рыбы на русском языке, а
            | начинающему оратору отточить навык публичных
            | выступлений в домашних условиях.

        p.about__sub-descr.about__sub-descr--mod
            | Сайт рыбатекст поможет дизайнеру, верстальщику,
            |  вебмастеру сгенерировать несколько абзацев более
            | менее осмысленного текста рыбы на русском языке, а
            | начинающему оратору отточить навык публичных
            | выступлений в домашних условиях.
            | Сайт рыбатекст поможет дизайнеру, верстальщику,
            |  вебмастеру сгенерировать несколько абзацев более
            | менее осмысленного текста рыбы на русском языке, а
            | начинающему оратору отточить навык публичных
            | выступлений в домашних условиях.