section.gallery--mod
    .container
        h3.gallery__title
            | Галерея

        .gallery__wrapper
            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")


            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")


            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")


            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")


            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")


            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

            .gallery__elem
                .gallery__img-wrap
                    img(src="img/gallery-slide.png")

        .pagination
            ul.pagination-body
                li
                    a(href="#") пред

                li
                    a.active(href="#") 1

                li
                    a(href="#") 2

                li
                    a(href="#") 3

                li
                    a(href="#") 4

                li
                    a(href="#") 5

                li
                    a(href="#") ...

                li
                    a(href="#") след