section.review
    .container
        h3.review__title
            | Отзывы

        .review__slider
            .review__slide
                .review__img-wrap
                    img(src="img/review.png")

                h3.review__sub-title
                    | Александрова Арина

                p.review__descr
                    | «Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений
                    | в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.»

            .review__slide
                .review__img-wrap
                    img(src="img/review.png")

                h3.review__sub-title
                    | Александрова Арина

                p.review__descr
                    | «Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений
                    |  в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.»

            .review__slide
                .review__img-wrap
                    img(src="img/review.png")

                h3.review__sub-title
                    | Александрова Арина

                p.review__descr
                    | «Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений
                    |  в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.»

