section.service
    .container
        h3.service__title
            | Услуги салона

        span.service__title-bg

        .service__box
            .service__elem
                .service__elem-img
                    img(src="img/elem-1.png")

                .service__elem-box

                    h3.service__elem-title
                        | Эпилляция

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-2.png")

                .service__elem-box

                    h3.service__elem-title
                        | Ногтевой сервис

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-3.png")

                .service__elem-box

                    h3.service__elem-title
                        | Косметология

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-4.png")

                .service__elem-box

                    h3.service__elem-title
                        | Визаж и прически

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-5.png")

                .service__elem-box

                    h3.service__elem-title
                        | Все для бровей и ресниц

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более


            .service__elem
                .service__elem-img
                    img(src="img/elem-6.png")

                .service__elem-box

                    h3.service__elem-title
                        | Парикмахер- Стилист

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-7.png")

                .service__elem-box

                    h3.service__elem-title
                        | Перманентный макияж

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

            .service__elem
                .service__elem-img
                    img(src="img/elem-8.png")

                .service__elem-box

                    h3.service__elem-title
                        | Микроблейдинг бровей

                    p.service__elem-descr
                        | Сайт рыбатекст поможет
                        | дизайнеру, верстальщику,
                        | вебмастеру сгенерировать
                        | несколько абзацев более

        .service__flex
            a(href="#").button-elem.button-elem--mod Смотреть все