section.baner
    .container
        .baner__text-bg

        h1.baner__title
            | Skin

        h3.baner__sub-title
            | Spa studio

        p.baner__description
            | Сайт рыбатекст поможет дизайнеру, верстальщику,
            br
            | вебмастеру сгенерировать несколько абзацев более
            br
            | менее осмысленного текста рыбы на русском языке

        a(href="#").button-elem
            | Записаться