.baner{
  position: relative;
  float: left;
  width: 100%;
  height: 787px;
  background-image: url("../img/final-baner.png");
  background-repeat: no-repeat;

  &--mod{
    display: none;
  }

  @include breakpoint(max-width 1024px){
    background-image: url("../img/baner-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 689px;
    display: block;
  }

  @include breakpoint(max-width 480px){
    height: 632px;
    display: block;
    background-image: url("../img/baner-mobile.png");
    background-repeat: no-repeat;
  }

  &__title{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    font-family: $QanelasBlack;
    font-size: 85px;
    font-weight: 900;
    margin-top: 240px;
    margin-bottom: 0;

    @include breakpoint(max-width 480px){
      margin-top: 363px;
      font-size: 42px;
      margin-left: 20px;
      width: 90%;
    }
  }

  &__sub-title{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    font-family: $QanelasBlack;
    font-size: 85px;
    font-weight: 900;
    margin-top: 0;

    @include breakpoint(max-width 480px){
      font-size: 42px;
      margin-left: 20px;
      width: 90%;
    }
  }

  &__description{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    font-family: $QanelasBold;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

    @include breakpoint(max-width 480px){
      display: none;
    }
  }
}

.button-elem{
  position: relative;
  float: left;
  background-image: linear-gradient(to top, #9c00ff 0%, #aa43f9 100%);
  border-radius: 28px;
  box-shadow: 1.5px 2.6px 29px rgba(160, 16, 253, 0.49);
  color: #faf9f7;
  font-family: $QanelasBold;
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 60px;
  box-sizing: border-box;
  margin-top: 40px;
  border: none;
  width: auto;
  height: 54px;

  &--mod{
    margin-top: -25px;
    margin-bottom: 10px;
  }

  @include breakpoint(max-width 480px){
    padding-left: 30px;
    padding-right: 55px;
    margin-left: 20px;
  }

  &:hover{
    color: white;
  }

  &:after{
    position: absolute;
    display: block;
    content: "";
    width: 24px;
    height: 16px;
    background-image: url("../img/icons/button-arrow.png");
    background-repeat: no-repeat;
    top: 20px;
    right: 19px;
  }
}