doctype html
html
    head(lang='en')
        include ../elements/html_open

    body
        include ../mixins/mixins
        .loaderArea
            .loader

        header.header.header--mod
            .container
                .header__logo
                    img(src="img/logo.png")

                a(href="#").header__trigger#header-trigger
                    span
                    span
                    span

                .header__flex

                    p.header__adress
                        | Москва, ул. Сумская д.6

                    span.header__number
                        | +7 (496) 566-46-43

                    p.header__email
                        | info@skinspa.ru

                .header__box
                    .header__box-elem
                        img(src="img/icons/vk.png")

                    .header__box-elem
                        img(src="img/icons/fb.png")

                    .header__box-elem
                        img(src="img/icons/twit.png")

                    .header__box-elem
                        img(src="img/icons/insta.png")

                    .header__box-elem
                        img(src="img/icons/tube.png")

                nav.header__navigation
                    ul.header__menu
                        li
                            a(href="index.html") Главная

                        li
                            a(href="about.html") О нас

                        li
                            a(href="service.html") Услуги

                        li
                            a(href="price.html") Цены

                        li
                            a(href="gallery.html").active  Галерея

                        li
                            a(href="team.html") Мастера

                        li
                            a(href="review.html") Отзывы

                        li
                            a(href="contact.html")  Контакты

        include ../elements/baner-mod
        include ../elements/page-gallery
        include ../elements/callback-mod
        include ../elements/footer
        include ../elements/html_close