.pagination{
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 100px;

  .active{
    position: relative;
    float: left;
    color: white;
    width: 27px;
    height: 27px;
    background-image: url("../img/elips.png");
    background-repeat: no-repeat;
    padding-left: 9px;
  }

    &-body{
      position: relative;
      float: left;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;

      &--mod{
        justify-content: center;
      }

        li{
          position: relative;
          float: left;
          margin-right: 20px;

            a{
              position: relative;
              float: left;
              width: 100%;
              font-family: $QanelasMedium;
              font-size: 20px;
              font-weight: 500;
              color: #5a4a65;
            }
        }
    }
}

.loaderArea {
  background: linear-gradient(90deg, #ff708e 10%, #fd7c7d 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 45%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;

  @include breakpoint(max-width 480px){
    left: 20%;
  }
}

.loader:before{
  content: "";
  height: 24px;
  width: 269px;
  background-image: url("../img/preloader.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;

}

.loader:after {
  content: "";
  height: 86px;
  width: 87px;
  position: absolute;
  top: -120px;
  left: 100px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;


}


